* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-section {
  max-width: 1296px;
  gap: 38px;
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0 auto;
}
.header-section .logo {
  display: none;
}
.header-section .navigation {
  max-width: 1170px;
  height: 68px;
  display: flex;
  justify-content: space-between;
}
.header-section .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-section .logo-header {
  width: 156px;
  height: 42px;
}
.header-section .search-bar {
  max-width: 300px;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-section .basket-search {
  width: 288px;
  height: 54px;
  display: flex;
  align-items: center;
}
.header-section .search-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.header-section .menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 30px;
  margin: 15px 200px;
  align-items: center;
}

.header-section .menu > li > a {
  color: #4d4d4d;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
}
.header-section .menu-home > a {
  color: #f55253;
}

.header-section .search {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.header-section .icon-search {
  width: 16px;
  height: 16px;
}
.header-section .icon-search:hover {
  cursor: pointer;
  opacity: 0.8;
}
.header-section .search-text {
  text-align: center;
}
.header-section .basket {
  position: relative;
  margin-right: 10px;
}
.header-section .icon-basket {
  width: 24px;
  height: 24px;
}
.header-section .icon-basket:hover {
  cursor: pointer;
  opacity: 0.8;
}
.header-section .number {
  background-color: #f55253;
  width: 28px;
  height: 28px;
  border-radius: 60px;
  text-align: center;
  padding: 7px;
  color: #fff;
  position: relative;
  top: -19px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 14px;
}
.header-section .menu-btn {
  display: none;
}

@media (max-width: 1196px) {
  .header-section {
    max-width: 100%;
  }
  .header-section .navigation {
    max-width: 100%;
    align-items: center;
  }
  .header-section .menu {
    margin: 15px 100px;
  }
}

@media (max-width: 1000px) {
  .header-section .search-bar {
    max-width: 200px;
  }
  .header-section .basket-search {
    width: 200px;
  }
  .header-section .menu {
    margin: 15px 50px;
  }
}

@media (max-width: 798px) {
  .header-section {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .header-section .logo1 {
    display: none;
  }
  .header-section .search-bar {
    display: flex;
  }
  .header-section .logo {
    display: block;
    float: left;
    text-decoration: none;
  }
  .header-section .navbar {
    margin-inline-start: auto;
  }
}
@media (max-width: 610px) {
  .header-section {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .header-section .menu {
    display: block;
    margin-inline-start: auto;
  }
  .header-section .search-bar {
    max-width: 180px;
  }
}

.hero-section {
  max-width: 1200px;
  display: flex;
  margin: 50px auto 0 auto;
  justify-content: space-around;
}
.hero-section .container-header-2 {
  position: relative;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-section .market {
  width: 150px;
  height: 246px;
  position: absolute;
  top: 120px;
  left: -110px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.hero-section .img-orange {
  width: 101px;
  height: 100px;
  margin: 0 auto 0 auto;
}
.hero-section .price-ship {
  width: 82px;
  height: 76px;
  top: 224px;
  left: 728px;
  border-radius: 1px;
  background-color: #ffffff;
}
.hero-section .fresh {
  width: 82px;
  height: 18px;
  font-weight: 600;
  font-size: 12px;
  color: #2e2e2e;
  line-height: 18px;
  margin: 0 auto 0 auto;
}
.hero-section .rectangle-header {
  width: 20px;
  height: 20px;
  color: #ffa610;
  border-radius: 1px;
  margin: 0 auto 0 auto;
}
.hero-section .price-header {
  width: 78px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 20px;
  color: #2e2e2e;
  letter-spacing: -1px;
  margin: 5px auto 0 auto;
}
.hero-section .shipping {
  width: 70px;
  height: 10px;
  font-family: " Poppins", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  color: #a5a5a5;
  margin: 5px auto 0 auto;
}
.hero-section .market-icon {
  width: 80px;
  height: 80px;
}
.hero-section .chief {
  position: relative;
  width: 420px;
}
.hero-section .container-header-1 {
  max-width: 578px;
  padding: 20px 40px 0 0;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.hero-section .paragraph-header {
  width: 230px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f55556;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  background-color: #fdecec;
  border-radius: 23px;
  padding-inline: 10px;
}
.hero-section .strawberry {
  margin-top: 25px;
}
.hero-section .h1-tag-header h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 88px;
  color: #2e2e2e;
}
.hero-section .span-hours {
  font-weight: 500;
  color: #f86061;
}
.hero-section .grocen-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #676767;
  margin-top: 15px;
}
.hero-section .button-container-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 60px;
  margin-top: 64px;
}
.hero-section .order-now-header {
  width: 186px;
  height: 70px;
  border-radius: 12px;
  color: #fdecec;
  background-color: #f86061;
  font-size: 20px;
  border: none;
}
.hero-section .order-process-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.hero-section .order-process-div img {
  margin-top: 40px;
}
.hero-section .order-process-div p {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}
.hero-section .order-process-header {
  width: 224px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: none;
}
.hero-section .stroke {
  position: absolute;
  width: 98px;
  transform: rotate(0.38deg);
  top: 80px;
}
.hero-section .card-header {
  font-family: "Poppins", sans-serif;
  width: 160px;
  position: absolute;
  top: 130px;
  left: 350px;
  display: flex;
  font-weight: 600;
}
.hero-section .delivary {
  line-height: 20px;
  font-size: 16px;
  margin-inline: 20px;
}
.hero-section .span-header {
  font-weight: 200;
  font-size: 12px;
  line-height: 20px;
}
.hero-section .alarm-clock {
  width: 50px;
  height: 34px;
}
/* Services Section CSS */
.services-section .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.services-section {
  font-family: "Poppins", sans-serif;
  background-color: #fef5f5;
  text-align: center;
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.services-section .serve-title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #f54748;
  margin-bottom: 10px;
  margin-top: 60px;
}

.services-section .main-title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 650px;
  white-space: normal;
}

.services-section .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.services-section .card-wrapper {
  position: relative;
  min-height: 300px;
}

.services-section .red-background {
  position: absolute;
  width: 310px;
  height: 334.16px;
  top: -12px;
  left: -5px;
  background-color: #ff4d4d;
  border-radius: 12px;
  transform: rotate(-3deg);
  transform-origin: top right;
  z-index: 1;
}

.services-section .card {
  position: relative;
  background-color: white;
  width: 310px;
  height: 300px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 15px 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services-section .card img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  margin: auto;
}

.services-section h3 {
  color: #333;
  margin-bottom: 10px;
}

.services-section p {
  color: #666;
}

@media only screen and (max-width: 703px) {
  .services-section .card .services-section .red-background {
    max-width: 200px;
    height: 260px;
  }
  .services-section .red-background {
    height: 320px;
  }
  .services-section h3,
  .services-section p {
    font-size: 14px;
  }
  .services-section .main-title {
    font-size: 34px;
  }
}
/* Services Section CSS */

.feature-section02 {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-right: 40px;
}
.feature-section02 .container-left {
  align-self: flex-end;
  justify-content: flex-start;
  padding-bottom: 40px;
}
.feature-section02 .h1-title {
  width: 139px;
  height: 24px;
  top: 233px;
  left: 160px;
  gap: 0px;
  color: #f9ba45;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  white-space: nowrap;
}
.feature-section02 .h2-title {
  max-width: 20ch;
  gap: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  color: #2e2e2e;
}
.feature-section02 .p-title {
  max-width: 42ch;
  gap: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #676767;
}
.feature-section02 .button-explore-now {
  width: 201px;
  height: 70px;
  top: 535px;
  left: 160px;
  padding: 10px 20px;
  background-color: white;
  color: #f86061;
  font-size: 20px;
  border: 2px #f86061 solid;
  border-radius: 12px;
}
.feature-section02 .container-right {
  position: relative;
  align-self: flex-start;
}
.feature-section02 .chef {
  width: 400px;
  height: auto;
}
.feature-section02 .ellipse-2701 {
  position: absolute;
  bottom: 0;
  width: 45px;
  height: auto;
}
.feature-section02 .container-left-bike-delivery {
  width: 140px;
  height: 220px;
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate(50%, 65%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 20ch;
  padding: 10px;
  gap: 10px;
  max-width: 30ch;
  border-radius: 20px 20px 20px 20px;
  opacity: 1;
  background-color: white;
  box-shadow: 0px 40px 100px -25px #0000001f;
}
.feature-section02 .h3-title {
  width: 100px;
  top: 351px;
  left: 1135px;
  gap: 0px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #2e2e2e;
}
.feature-section02 .p3-title {
  width: 125px;
  height: 48px;
  gap: 0px;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #676767;
}
.feature-section02 .bike-delivery {
  padding-top: 10px;
  width: 100px;
  height: 86px;
  gap: 0px;
}

@media (max-width: 1405px) {
  .hero-section {
    max-width: 1000px;
  }
  .hero-section .container-header-2 {
    width: 280px;
    flex-wrap: wrap;
  }
  .hero-section .market {
    width: 40%;
    background-color: #ffffff;
    height: auto;
    left: -60px;
  }
  .hero-section .img-orange {
    width: 40%;
    height: auto;
    margin: 0 auto;
  }
  .hero-section .price-ship {
    width: 30%;
    height: auto;
    margin: 0 auto;
  }
  .hero-section .fresh {
    font-size: 14px;
  }
  .hero-section .rectangle-header {
    width: 30px;
    height: 30px;
  }
  .hero-section .price-header {
    font-size: 14px;
  }
  .hero-section .shipping {
    font-size: 12px;
  }
  .hero-section .market-icon {
    width: 60px;
    height: 60px;
  }
  .hero-section .chief {
    width: 80%;
  }
  .hero-section .container-header-1 {
    max-width: 450px;
    flex-wrap: wrap;
  }
  .hero-section .paragraph-header {
    width: 80%;
    font-size: 14px;
  }
  .hero-section .strawberry {
    margin-top: 15px;
  }
  .hero-section .h1-tag-header h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .hero-section .grocen-p {
    font-size: 16px;
  }
  .hero-section .button-container-header {
    gap: 30px;
  }
  .hero-section .order-now-header {
    width: 50%;
    height: 50px;
    font-size: 16px;
  }
  .hero-section .order-process-div {
    flex-direction: column;
    align-items: center;
  }
  .hero-section .order-process-div img {
    margin-top: 20px;
  }
  .hero-section .order-process-div p {
    font-size: 14px;
  }
  .hero-section .order-process-header {
    width: 50%;
    height: 50px;
  }
  .hero-section .card-header {
    width: 40%;
    height: auto;
    left: 190px;
    top: 80px;
  }
  .hero-section .delivary {
    font-size: 12px;
  }
  .hero-section .span-header {
    font-size: 12px;
  }
  .hero-section .alarm-clock {
    width: 30px;
    height: 20px;
  }
}

@media (max-width: 852px) {
  .hero-section .container-header-2 {
    max-width: 600px;
  }
  .hero-section .market {
    width: 30%;
    height: auto;
    left: -45px;
    top: 45px;
  }
  .hero-section .container-header-1 {
    width: 300px;
    height: auto;
  }

  .hero-section .grocen-p {
    font-size: 14px;
  }

  .hero-section .card-header {
    width: 40%;
    height: auto;
    left: 190px;
    top: 50px;
  }
}

@media (max-width: 780px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
  }
  .hero-section .container-header-2 {
    flex-direction: row;
    justify-content: space-between;
  }
  .hero-section .market {
    width: 30%;
    height: auto;
    left: -45px;
    top: 45px;
  }
  .hero-section .container-header-1 {
    max-width: 500px;
    height: auto;
  }
  .hero-section .h1-tag-header h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .hero-section .span-hours {
    font-size: 25px;
  }
  .hero-section .grocen-p {
    font-size: 14px;
  }

  .hero-section .card-header {
    width: 40%;
    height: auto;
    left: 220px;
    top: 50px;
  }
}
@media (max-width: 450px) {
  .hero-section {
    max-width: 350px;
  }
  .hero-section .fresh {
    font-size: 10px;
    width: 40px;
  }
  .hero-section .price-header {
    font-size: 12px;
    width: 40px;
  }
  .hero-section .shipping {
    font-size: 10px;
    width: 40px;
  }
  .hero-section .container-header-2 {
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
  }
  .hero-section .market {
    width: 30%;
    height: auto;
    left: -45px;
    top: 45px;
  }
  .hero-section .card-header {
    width: 20%;
    height: auto;
    left: 140px;
    top: 10px;
  }
  .hero-section .stroke {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 355px) {
  .hero-section {
    max-width: 180px;
  }
  .hero-section .h1-tag-header h1 {
    font-size: 20px;
    line-height: 20px;
  }
  .hero-section .grocen-p {
    font-size: 10px;
  }
  .hero-section .container-header-1 {
    width: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
  }
  .hero-section .container-header-2 {
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
  }
  .hero-section .market {
    width: 30%;
    height: 130px;
    left: -39px;
    top: 45px;
  }
  .hero-section .fresh {
    font-size: 8px;
  }
  .hero-section .price-header {
    font-size: 10px;
  }
  .hero-section .shipping {
    font-size: 9px;
  }
  .hero-section .card-header {
    width: 20%;
    height: auto;
    left: 140px;
    top: 10px;
  }
  .hero-section .stroke {
    width: 80px;
    height: 80px;
  }
  .hero-section .order-now-header {
    font-size: 12px;
  }
  .hero-section .order-process-div {
    width: 80px;
  }
  .hero-section .order-process-div p {
    font-size: 10px;
  }
}

/* cta-section css kodları */

.cta-section {
  width: 100%;
  max-width: 1440px;
  padding: 80px 20px;
  background-color: rgba(254, 245, 245, 1);
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: center;
  gap: 140px;
}

.cta-section-content {
  width: 100%;
  max-width: 538px;
  min-height: 362px;
  height: auto;
  gap: 0px;
  opacity: 0px;
  padding-top: 196px;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}

.cta-section-content-title {
  color: rgba(245, 71, 72, 1);
  width: 170px;
  height: 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-left: 80px;
}

.cta-section-content-title2 {
  width: 466px;
  height: 108px;
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  color: rgba(46, 46, 46, 1);
  margin-top: 10px;
  margin-left: 80px;
}

.cta-section-content-desc {
  width: 466px;
  height: 60px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgba(103, 103, 103, 1);
  margin-top: 20px;
  margin-left: 80px;
}

.content-buttons {
  margin-left: 0px;
  margin-top: 54px;
  display: flex;
}

.content-buttons button {
  width: 186px;
  height: 80px;
  border-radius: 12px;
  border: 1.6px solid rgba(238, 220, 220, 1);
  background-color: transparent;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 500px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.content-buttons button img {
  width: 38px;
  height: 43px;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 15px;
}

.button-text {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.button-text span {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

@media only screen and (max-width: 1600px) {
  .cta-section {
    max-width: 1200px;
    gap: 100px;
  }
}

@media only screen and (max-width: 1300px) {
  .cta-section {
    max-width: 900px;
    gap: 60px;
  }

  .mobile-img {
    width: 200px;
    object-fit: contain;
  }

  .cta-section-content-title2 {
    font-size: 30px;
    line-height: 36px;
    margin-left: 40px;
  }

  .cta-section-content-title {
    margin-left: 40px;
  }

  .cta-section-content-desc {
    margin-top: 0;
    margin-left: 40px;
  }

  .content-buttons {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1000px) {
  .cta-section {
    max-width: 600px;
    gap: 0;
    flex-direction: column;
    align-items: center;
  }

  .cta-section-content {
    padding-top: 100px;
  }

  .mobile-img {
    width: 200px;
    object-fit: contain;
  }

  .cta-section-content-title2 {
    font-size: 20px;
    line-height: 36px;
    margin-left: 40px;
    height: auto;
  }

  .cta-section-content-desc {
    margin-top: 0;
    margin-left: 40px;
  }

  .content-buttons {
    margin-top: 30px;
    margin-left: 46px;
  }
}

@media only screen and (max-width: 700px) {
  .cta-section {
    max-width: 400px;
    gap: 0;
    flex-direction: column;
    align-items: center;
  }

  .cta-section-content {
    padding-top: 80px;
  }

  .mobile-img {
    width: 200px;
    object-fit: contain;
  }

  .cta-section-content-title2 {
    font-size: 18px;
    line-height: 36px;
    margin-left: 40px;
    font-weight: 500px;
    height: auto;
    width: auto;
  }

  .cta-section-content-desc {
    margin-top: 0;
    margin-left: 40px;
    width: auto;
    height: auto;
    font-size: 16px;
  }

  .content-buttons {
    margin-top: 30px;
    margin-left: 46px;
    gap: 6px;
  }

  .content-buttons button {
    justify-content: center;
  }

  .content-buttons button img {
    width: 36px;
    height: 40px;
  }

  .cta-section button span {
    font-size: 16px;
    margin-right: 12px;
  }
}

@media only screen and (max-width: 450px) {
  .cta-section {
    max-width: 350px;
    gap: 0;
    flex-direction: column;
    align-items: center;
  }

  .cta-section-content {
    padding-top: 80px;
  }

  .mobile-img {
    width: 180px;
    height: 350px;
  }

  .cta-section-content-title2 {
    font-size: 18px;
    line-height: 30px;
    margin-left: 40px;
    font-weight: 500px;
    height: auto;
    width: auto;
  }

  .cta-section-content-desc {
    margin-top: 0;
    margin-left: 40px;
    width: auto;
    height: auto;
    font-size: 16px;
  }

  .content-buttons {
    margin-top: 30px;
    margin-left: 46px;
    display: flex;
    justify-content: center;
    gap: 6px;
  }

  .content-buttons button {
    width: 170px;
    height: 100px;
    justify-content: center;
  }
}

@media only screen and (max-width: 350px) {
  .cta-section {
    max-width: 280px;
    gap: 0;
    flex-direction: column;
    align-items: center;
  }

  .cta-section-content {
    padding-top: 50px;
  }

  .mobile-img {
    width: 200px;
    height: 240px;
  }

  .cta-section-content-title2 {
    font-size: 16px;
    line-height: 36px;
    margin-left: 40px;
    font-weight: 400px;
    height: auto;
    width: auto;
  }

  .cta-section-content-title {
    height: 20px;
    font-size: 16px;
  }

  .cta-section-content-desc {
    margin-top: 0;
    margin-left: 40px;
    width: auto;
    height: auto;
    font-size: 16px;
  }

  .content-buttons {
    margin-top: 30px;
    margin-left: 46px;
    gap: 2px;
  }

  .content-buttons button {
    justify-content: center;
    flex-direction: column;
    height: 120px;
  }

  .button-text span {
    font-size: 16px;
    margin-left: 16px;
  }

  .content-buttons button img {
    width: 30px;
    height: 34px;
    margin-left: inherit;
    margin-right: 0%;
  }

  .button-text {
    margin-top: 8px;
  }
}

/* cta-section css kodları */
/* footer kodları */
.footer {
  width: 1154px;
  height: 360px;
  margin: 50px auto 0 auto;
  font-family: "Poppins", sans-serif;
}

.footer .footer-1 {
  width: 1154px;
  height: 226px;
  display: flex;
  top: 72px;
  gap: 200px;
}

.footer .menu {
  display: flex;
  justify-content: space-between;
  width: 690px;
  height: 210px;
  gap: 20px;
  margin-top: 30px;
}

.footer li.item {
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: rgba(103, 103, 103, 1);
}

.footer h3.title {
  font-weight: 600px;
  font-size: 18px;
  line-height: 20px;
  color: rgba(46, 46, 46, 1);
  margin-bottom: 20px;
}

.footer .content {
  width: 190px;
}

.footer p.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(136, 136, 136, 1);
}

.footer .img-logo {
  margin-bottom: 20px;
}

.footer .logo {
  width: 266px;
}

.footer .footer-2 {
  display: flex;
  width: 1154px;
  height: 54px;
  border-top: 1px solid rgba(236, 236, 236, 1);
  margin-top: 150px;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.footer .down-item-left {
  color: rgba(140, 140, 140, 1);
}

.footer .footer2-right {
  display: flex;
  gap: 20px;
  color: rgba(116, 116, 116, 1);
}

@media only screen and (max-width: 1350px) {
  .footer {
    width: 950px;
  }

  .footer .footer-1 {
    width: 900px;
    gap: 180px;
  }

  .footer .footer-2 {
    width: 900px;
    margin-top: 90px;
  }

  .footer .menu {
    width: 590px;
    gap: 20px;
  }
}

@media only screen and (max-width: 1300px) {
  .footer {
    width: 800px;
  }

  .footer .footer-1 {
    width: 680px;
    gap: 120px;
  }

  .footer .footer-2 {
    width: 770px;
  }

  .footer .menu {
    width: 590px;
    gap: 0px;
  }

  .footer .content {
    width: 160px;
  }

  .footer li.item {
    font-size: 14px;
    line-height: 34px;
  }

  .footer h3.title {
    font-size: 16px;
    line-height: 16px;
  }

  .footer p.description {
    font-size: 16px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .footer {
    width: 600px;
  }

  .footer .footer-1 {
    width: 500px;
    gap: 60px;
  }

  .footer .footer-2 {
    width: 600px;
  }

  .footer .menu {
    width: 400px;
    gap: 0px;
  }

  .footer .content {
    width: 130px;
  }
}

@media only screen and (max-width: 700px) {
  .footer {
    width: 450px;
  }

  .footer .footer-1 {
    flex-direction: column;
    width: 450px;
  }

  .footer .footer-2 {
    width: 410px;
    margin-top: 190px;
    font-size: 10px;
    line-height: 18px;
    height: 44px;
  }

  .footer .menu {
    width: 400px;
    margin-top: -20px;
  }
}

@media only screen and (max-width: 520px) {
  .footer {
    width: 320px;
    margin-left: 50px;
  }

  .footer .footer-1 {
    width: 320px;
    height: 400px;
  }

  .footer .menu {
    flex-direction: column;
    width: 320px;
    margin-top: -40px;
  }

  .footer li.item {
    line-height: 24px;
  }

  .footer h3.title {
    margin-bottom: 6px;
    margin-top: 20px;
  }

  .footer p.description {
    width: 26ch;
  }

  .footer .footer-2 {
    width: 300px;
  }
}

@media only screen and (max-width: 380px) {
  .footer {
    width: 200px;
    margin-left: 40px;
  }

  .footer .footer-1 {
    width: 200px;
    height: 400px;
  }

  .footer .img-logo {
    width: 140px;
    height: 38px;
  }

  .footer .menu {
    width: 200px;
    margin-top: -50px;
  }

  .footer li.item {
    line-height: 24px;
  }

  .footer h3.title {
    margin-bottom: 6px;
    margin-top: 20px;
  }

  .footer p.description {
    width: 20ch;
    font-size: 14px;
  }

  .footer .footer-2 {
    width: 210px;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer .down-item-left {
    margin-top: 10px;
  }
}

/* footer kodları */
